<h1>{{formTitle}}</h1>
<div>
  <form action="/new" method="POST">
    <input type="text" name="userName" placeholder="User name"><br>
    <input type="text" name="messageText" placeholder="Message"><br>
    <input type="submit" value="Submit post">
  </form>
</div>